@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply text-white;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.perspective-1000 {
  perspective-origin: center;
  perspective: 1000px;
}
.rc-slider-track {
  background-color: #07ca7f !important;
}

.rc-slider-dot {
  background-color: #a6a6a6 !important; /* 눈금 동그라미 색상 */
  border: #a6a6a6 !important; /* 눈금 동그라미 색상 */
}

.rc-slider-mark-text {
  font-size: 0 !important;
}

.scan-region-highlight-svg {
  stroke: #07ca7f !important;
}
